.form-container {
  text-align: center;
  margin-top: 50px;
}

form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd; 
  border-radius: 5px; 
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left; 
  margin: 10px 0;
}

select, button {
  width: 100%; 
  margin-top: 5px;
  padding: 10px; 
}

button {
  
  color: white; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
}

button:hover {
  background-color: #36234f; 
}
/* Add these styles to your CSS file */

.mapbook-parent-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.books-container {
  box-sizing: border-box;
  width: 20%; 
  margin: 35px;
  padding: 20px;
  border: 2px solid rgb(12, 11, 11); 
  text-align: center;
}

.books-container img {
  width: 100%; 
  height: auto; 
  border: 2px solid rgb(243, 237, 237); 
  margin-bottom: 8px; 
}

.books-container p {
  margin: 3px;
}

